* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}

/* Header (HOME AND NAV) */
.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    position: relative;
}

nav ul {
    text-align: center;
}

nav image {
    width: 100px;
}

.nav-links {
    flex: 1;
    font-weight: 600;
}

body{
    --color-primary: #5591F5
    --color-primary:-dark #005EFB
    --color-secondary: #737373
    --color-error:  #A60303
    --color-success: #22AC00
    --border-radius: 10px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.container{
    width: 500px;
    max-width: 500px;
    margin: 1rem;
    padding: 2rem; 
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    border-radius: 10px;
}

.container,
.form--input,
.form--button {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form_title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message-success{
    color: var(--color-success);
}

.form__message-error{
    color: var(--color-error);
}